{% extends 'base.html' %}

{% block title %}
View mealplan
{% endblock %}

{% block maincontent %}
<div class="row mb-2">

    <div class="col-12">
        <h2>{{mealplan.name}}</h2>
    </div>

</div>

<div class="row col-gap-3 row-gap-3">
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="row">
            <div class="col-12">

                <ul class="nav nav-pills flex-column p-2 border rounded-3" id="js-pills-1" role="tablist"
                    aria-orientation="vertical">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active w-100 text-start d-flex align-items-center" id="profile-pill"
                            data-bs-toggle="pill" data-bs-target="#profile-pill-pane" type="button" role="tab"
                            aria-controls="profile-pill-pane" aria-selected="true">
                            <i class="bi bi-calendar3" style="width: 25px;"></i>
                            Overview
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link w-100 text-start d-flex align-items-center" id="billing-pill"
                            data-bs-toggle="pill" data-bs-target="#billing-pill-pane" type="button" role="tab"
                            aria-controls="billing-pill-pane" aria-selected="false">
                            <i class="bi bi-heart" style="width: 25px;"></i> Nutrition
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link w-100 text-start d-flex align-items-center" id="messages-pill"
                            data-bs-toggle="pill" data-bs-target="#messages-pill-pane" type="button" role="tab"
                            aria-controls="messages-pill-pane" aria-selected="false">
                            <i class="bi bi-bag-check" style="width: 25px;"></i>
                            Shopping list
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="js-pills-content-1">

                    <div class="tab-pane fade show active" id="profile-pill-pane" role="tabpanel"
                        aria-labelledby="profile-pill" tabindex="0">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="row row-gap-3">
                                    {% for weekday_id, weekday_name in weekdays %}
                                    <div class="col-6 col-md-4 col-lg-3 d-flex flex-column gap-3"
                                        style="min-height: 300px;">
                                        <h3 class="pb-2 h4 border-1 border-bottom">{{ weekday_name }}</h3>

                                        {% for item in mealplanitems %}
                                        {% if item.weekday == weekday_id %}
                                        <div class="card">
                                            {% if item.recipe.image_url %}
                                            <img src="{{ item.recipe.image_url }}"
                                                class="card-img-top d-none d-sm-block" alt="{{ item.recipe.name }}">
                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title">{{ item.recipe.name }}</h5>
                                                <a href="{% url 'recipe_detail' item.recipe.id %}"
                                                    class="link-dark link-underline-opacity-0 link-underline-opacity-25-hover">
                                                    View recipe
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                {% if request.user == mealplan.user %}
                                <a class="btn btn-outline-primary" href="{% url 'mealplan_edit' mealplan.id %}">Edit
                                    mealplan</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="billing-pill-pane" role="tabpanel" aria-labelledby="billing-pill"
                        tabindex="0">
                        <div class="row">
                            <h3>Weekly stats</h3>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Day</th>
                                        <th scope="col">Kcal</th>
                                        <th scope="col">Fat</th>
                                        <th scope="col">Carbs</th>
                                        <th scope="col">Protein</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Monday</th>
                                        <td>1100</td>
                                        <td>78</td>
                                        <td>78</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tuesday</th>
                                        <td>1100</td>
                                        <td>78</td>
                                        <td>78</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Wednesday</th>
                                        <td>1100</td>
                                        <td>78</td>
                                        <td>78</td>
                                        <td>120</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="messages-pill-pane" role="tabpanel" aria-labelledby="messages-pill"
                        tabindex="0">
                        <div class="row">
                            <div class="col-12">
                                <h3>Shopping list</h3>
                            </div>

                            <div class="col-12">

                                <table class="table">
                                    <tbody>
                                        {% for item in shopping_list %}
                                        <tr>
                                            <th>{{ item.ingredient__name }}</th>
                                            <!-- Store the original measurement amount as a data attribute -->
                                            <td data-original-amount="{{ item.total_amount }}">
                                                <span class="scaled-amount">{{ item.total_amount }}</span>
                                                {{ item.ingredient__measurement_unit }}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="2">No ingredients found for this recipe</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-12 mb-3 d-flex gap-2">
                                <button class="btn btn-secondary">
                                    Email me
                                </button>
                                <div class="input-group" style="max-width: 200px;">
                                    <span class="input-group-text" id="basic-addon1">Servings</span>
                                    <input type="number" class="form-control" id="servings" value="1" min="1"
                                        oninput="scaleIngredients()">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function scaleIngredients() {
        // Get the number of servings from the input
        const servings = document.getElementById("servings").value;

        // Select all elements with the class "scaled-amount"
        const ingredients = document.querySelectorAll("td[data-original-amount]");

        ingredients.forEach((ingredient) => {
            // Get the original amount from the data attribute
            const originalAmount = parseFloat(ingredient.getAttribute("data-original-amount"));

            // Calculate the new amount based on the servings
            const scaledAmount = (originalAmount * servings).toFixed(2); // Limit to 2 decimal places

            // Update the displayed amount
            ingredient.querySelector(".scaled-amount").textContent = scaledAmount;
        });
    }
</script>


{% endblock %}