{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
View mealplans
{% endblock %}

{% block navbuttons %}
<!-- New recipe modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#new-recipe-modal">
    <i class="bi bi-plus"></i> New mealplan
</button>
{% endblock %}

{% block maincontent %}
<div class="row my-3">
    <div class="col-md-12">

        <h2 class="mb-3">My mealplans</h2>

        <p class="w-sm-75 w-md-50">
            Here you can manage and create your weekly meal plans to suit your preferences and schedule. Simply
            click on any mealplan to view its details, or create a new one with the button above (top right).
        </p>

        <div class="row mb-5">
            {% for mealplan in mealplans %}
            <div class="col-12 col-sm-6 col-md-3 g-3">
                <a href="{% url 'mealplan_detail' mealplan.id %}" class="link-dark link-underline-opacity-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title my-1">{{ mealplan.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>

            {% empty %}

            <p>You haven't created any mealplans yet!</p>

            {% endfor %}
        </div>


    </div>

</div>
{% endblock %}

{% block modal %}
<!-- New recipe modal -->
<div class="modal fade" id="new-recipe-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title-2"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title-2">New mealplan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="{% url 'add_mealplan' %}" method="POST">
                    {% csrf_token %}

                    {{new_mealplan_form|crispy}}

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Create mealplan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}