{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
View recipes
{% endblock %}

{% block navbuttons %}
<!-- New recipe modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#new-recipe-modal">
    <i class="bi bi-plus"></i> New recipe
</button>
{% endblock %}

{% block maincontent %}
<div class="row my-3">

    <div class="col-sm-3">
        <div class="row mb-3">

            <h2 class="h4">Filter</h2>

            <form method="GET">
                {{ recipe_filter.form|crispy }}
                <button class="btn btn-info" type="submit">Filter</button>
                <a href="{% url 'recipe_list' %}" class="btn btn-secondary">Clear filters</a>
            </form>

        </div>
    </div>

    <div class="col-sm-9">

        <div class="row mb-3">

            <div class="col">
                <form class="d-flex" role="search" method="GET" action="{% url 'recipe_list' %}">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" type="submit">Search</button>
                </form>
            </div>

        </div>

        <div class="row gy-3">

            <div>
                {% if query %}
                <p class="d-inline me-3 h5">You searched for <strong>{{ query }}</strong></p>
                {% endif %}

                {% if query %}
                <a href="{% url 'recipe_list' %}">Clear search</a>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <h2>My recipes</h2>
            {% endif %}


            {% for recipe in recipes %}
            {% if recipe.user == request.user %}
            <div class="col-6 col-md-4 col-xxl-3">
                <a href="{% url 'recipe_detail' recipe.id %}"
                    class="link-dark link-underline-opacity-0 link-underline-opacity-25-hover link-offset-2">
                    <div class="card h-100">
                        {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>

                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-1">
                                    {{ recipe.get_difficulty_display }}
                                </p>
                                <p class="card-text mb-1">
                                    {{ recipe.time_needed|humanise_duration }}
                                </p>
                            </div>

                            <p class="card-text">
                                <i class="bi bi-tag"></i>
                                {% if recipe.tags.all %}
                                {{ recipe.tags.all|join:", " }}
                                {% else %}
                                No tags
                                {% endif %}
                            </p>

                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

            {% empty %}

            <p>No recipes available.</p>

            {% endfor %}


            <h2>Public recipes</h2>
            {% for recipe in recipes %}
            {% if recipe.user != request.user %}
            <div class="col-6 col-md-4 col-xxl-3">
                <a href="{% url 'recipe_detail' recipe.id %}"
                    class="link-dark link-underline-opacity-0 link-underline-opacity-25-hover link-offset-2">
                    <div class="card h-100">
                        {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>

                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-1">
                                    {{ recipe.get_difficulty_display }}
                                </p>
                                <p class="card-text mb-1">
                                    {{ recipe.time_needed|humanise_duration }}
                                </p>
                            </div>

                            <p class="card-text">
                                <i class="bi bi-tag"></i>
                                {% if recipe.tags.all %}
                                {{ recipe.tags.all|join:", " }}
                                {% else %}
                                No tags
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

            {% empty %}

            <p>No recipes available.</p>

            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}


{% block modal %}
<!-- New recipe modal -->
<div class="modal fade" id="new-recipe-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title-2"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title-2">New recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="{% url 'add_recipe' %}" method="POST">
                    {% csrf_token %}

                    {{new_recipe_form|crispy}}

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Create recipe</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}