{% extends 'base.html' %}

{% block title %}
View recipes
{% endblock %}

{% block maincontent %}
<div class="row my-3">

    <div class="col-md-3">

        <p>Filter</p>

    </div>

    <div class="col-md-9">

        <div class="row mb-3">
            <div class="col-12">
                <form class="d-flex" role="search" method="GET" action="{% url 'recipe_list' %}">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" type="submit">Search</button>
                </form>

            </div>
        </div>

        <div class="row gy-3">

            <div>
                {% if query %}
                <p class="d-inline me-3 h5">You searched for <strong>{{ query }}</strong></p>
                {% endif %}

                {% if query %}
                <a href="{% url 'recipe_list' %}">Clear search</a>
                {% endif %}
            </div>

            {% for recipe in recipes %}

            <div class="col-md-4">
                <a href="{% url 'recipe_detail' recipe.id %}"
                    class="link-dark link-underline-opacity-0 link-underline-opacity-25-hover link-offset-2">
                    <div class="card">
                        {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>

                            <p class="card-text">
                                <i class="bi bi-tag"></i>
                                {% if recipe.tags.all %}
                                {{ recipe.tags.all|join:", " }}
                                {% else %}
                                No tags
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            {% empty %}

            <p>No recipes available.</p>

            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}